
<div class="contenedor-global" >
<!--Primer componente - Start-->
<div class="encabezado">
    <app-encabezado></app-encabezado>
</div>
<!-- Fin del componente 1 (Encabezado)-->


<!-- Segurndo componente - Start -->
<div class="acerca">
    <app-acerca></app-acerca>
   <!-- <hr class="rounded"> -->
</div>
<!-- Fin del componente 2 (Acerca)-->
</div>
<div class="contenedor-global" >
    <!-- Tercer componente - Start -->

    <div class="experiencia" style="border-radius: 1rem;">
        <app-experiencia></app-experiencia>
        <hr class="rounded">
    </div>
    <!-- Fin del componente 3 (Experiencia)-->

    <!-- Cuarto componente - Start -->


    <div class="educacion">
        <app-educacion></app-educacion>
        <hr class="rounded">
    </div>
    <!-- Fin del componente 4 (Educacion)-->


    <!-- Quinto componente - Start (Skills)-->

    <div class="skills" style="border-radius: 1rem;">
        <app-skills></app-skills>
        <hr class="rounded">
    </div>
    <!-- Fin del componente 5 (Skills)-->


    <!-- Sexto componente - Start -->

    
    <div class="proyectos" >
        <app-proyectos></app-proyectos>
    </div>
    <!-- Fin del componente 6 (Proyectos)-->

    <!-- Inicio del footer-->
    <footer class="footer">
        
          <p> Todos los derechos reservados © </p>

    </footer>
    <!-- Fin del footer-->
</div>