   <!-- START: PONER INFO RELEVANTE -->
<div>
    <div id="info" style="padding: 16px;">
        <div class="container">
        <img class="profile-image" src="../../../assets/images/profile_photo.jpg "
         width="150" height="150">
          </div>
          <br>
          <div class="conteiner">
        <div id="info-data"> 

            <!--<li *ngFor="let i of personaLista"> --> 
              <h3> {{personaLista.nombre}} {{personaLista.apellido}} </h3>
              <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i> </a>
                </div> 
              <h3> {{personaLista.residencia}} </h3>
              <h3> {{personaLista.fecha_nacimiento}} </h3>
              <h3> {{personaLista.sobre_mi}} </h3>

            <!-- </li> --> 
          

            <div id="info-company">  </div>
            <span><a href=#> Informacion de contacto</a> </span>
            <div id="info-contacto" ></div>
            <h3> {{personaLista.telefono}} </h3>
            <h3> {{personaLista.email}} </h3>
            <span></span>
            <br>
           
          </div>
          </div>
      </div>
</div>
<!-- FINISH: PONER INFO RELEVANTE -->

<!--ACA ESTA EL FORMULARIO-->
<!--
<div class="container">
<form class="form-group row">
<div class="form-group col -md -3">
<label for="nombre">Nombre:</label>
<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-contol">
</div>
</form> 
</div>
-->