
<nav class="nav-bar">
  <img id="img-AP"  src="assets/images/APLogo.png" class="navbar-brand">
  <ul class="navbar-nav sm-icons">
    <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-github"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-linkedin"></i></a></li>
    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-solid fa-user"></i></a></li>
    


    
    
</ul>
</nav>



<!--NAV VAR start here-->


<!--<div class="card mat-card" id="first-card"></div> -->
  <div id="profile-background">
  <!--<img alt="banner" [src]="miPorfolio.backImage"> -->
    <img alt="banner" src="assets/images/Banner-img.png">
  </div>

