 
<div class="fondo-nav-bar">
  <nav class="nav-bar">
    <div class="top-nav-bar">
     <img id="img-AP"  src="assets/images/APLogo.png">
    </div>
    <div class="bottom-nav-bar">
      <ul class="navbar-nav sm-icons">
        <li class="nav-item"><a class="nav-link" href="https://github.com/Martu-t"><i class="fab fa-github"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/martha-alejandra-tarantino/"><i class="fab fa-linkedin"></i></a></li>
        
        <button *ngIf="!isUserLogged" class="btn" routerLink="/login"  title="Inicia sesion para editar"><i class="fa fa-solid fa-user"></i></button>
        <i *ngIf="isUserLogged"  title="Sesión Iniciada" class="fa fa-solid fa-user-check"></i>
        <button class="btn" *ngIf="isUserLogged" (click)="logOut()"  title="Cerrar sesion"><i class="fa fa-sign-out"></i></button>
      </ul>
    </div>
  </nav>
</div>






