<div>
            <div class="data-container">
                <div class="item-info">
                    <div>

                        <span *ngFor="let i of experienciaLista"> 
                        <!-- <h4 *ngSwitchCase="1"> -->
                        <h3>  {{i.nombre_empresa}} </h3> 
                    <!--Botones de accion start -->
                            <div class="btn-edit">
                            
<!--Formulario para agregar-->
<div class="w3-container">
   
  <a onclick="document.getElementById('id01').style.display='block'" class="btn-right"><i class="fa fa-plus" id="add"></i></a>
  

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>

      </div>

      <!--formulario-->
      <div>
        <form action="/http://localhost:8080/new/experiencia" method="post" class="text-center border border-light p-5">
            <p>Agregar Experiencia</p>
            <!-- Nombre Empresa -->
            <input type="text" name="nombre_empresa" id="nombre_empresa" class="form-control mb-4" placeholder="Nombre de la Empresa">
            <!-- Puesto-->
            <input type="text" name="puesto" id="puesto" class="form-control mb-4" placeholder="Puesto">
            <!-- Fecha inicio -->
            <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control mb-4" min="1960-01-01">
            <!-- Fecha fin -->
            <input type="date" name="fecha_fin" id="fecha_fin" class="form-control mb-4" min="1961-01-01">
            <!-- Descripcion -->
            <div class="form-group">
              <textarea class="form-control rounded-0" name="descripcion_experiencia" id="descripcion_experiencia" rows="3"
                placeholder="Descripcion de tareas"></textarea>
            </div>
            <br>
            <input type="number" name="tipo_empleo_idtipo_empleo" id="tipo_empleo_idtipo_empleo" class="form-control mb-4" placeholder="tipo_empleo_idtipo_empleo">
            <input type="number" name="persona_idpersona" id="persona_idpersona" class="form-control mb-4" placeholder="persona_idpersona">
         

                <!--Especificacion-->
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-left w3-button w3-red">Cancelar</button>
        <input type="submit" value="Agregar" class="w3-right w3-button w3-green">  
       <!--<span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>--> 
     
      </div>    

        </form>
        

    </div>
    </div>
  </div>
</div>

<!--Siguiente botton-->
<!--Agregar-->
                            
                            <a href="#" class="btn-right"><i class="fa fa-pen" id="edit"></i> </a>    
                            <a href="#" class="btn-right"><i class="fa fa-trash" id="delete"></i> </a>     
                        </div> 
                    <!--Botton de edicion finish-->
                    
                        <h4> {{i.puesto}} </h4>
                        <h6> {{i.fecha_inicio}} - {{i.fecha_fin }} </h6>
                        <p> {{i.descripcion_experiencia }} </p>
                        <br>
                    <!--
                    </ng-container>-->
                        </span>
                        </div>

</div>
</div>

