<!--Primer componente - Start-->
<app-encabezado></app-encabezado>
<!-- Fin del componente 1 (Encabezado)-->

<br>
<!-- Segurndo componente - Start -->
<app-acerca></app-acerca>
<!-- Fin del componente 2 (Acerca)-->

<br>
<!-- Tercer componente - Start -->
<div style="clear: both;">
    <h2> {{componente3}} </h2>
    <app-experiencia></app-experiencia>
</div>
<!-- Fin del componente 3 (Experiencia)-->
<br>

<!-- Cuarto componente - Start -->
<div style="clear: both;">
    <h2> {{ componente4 }} </h2>
    <app-educacion></app-educacion>
</div>
<!-- Fin del componente 4 (Educacion)-->
<br>

<!-- Quinto componente - Start -->
<div>
    <h2> Quinto componente {{ componente5 }} </h2>
    <app-skills></app-skills>
</div>
<!-- Fin del componente 5 (Skills)-->
<br>

<!-- Sexto componente - Start -->
<div>
    <h2> Sexto componente {{ componente6 }} </h2>
    <app-proyectos></app-proyectos>
</div>
<!-- Fin del componente 6 (Proyectos)-->