



<div class="row">

  <span *ngFor="let ski of skillsLista">
  
 

  <div class="col-sm-4 col-md-3 col-lg-3">
    <!--<h2> {{ski.skills_nombre}} </h2>-->
    
    <circle-progress 
    [showSubtitle]="true"
    [percent]="ski.skills_porcentaje"
    [subtitle]="ski.skills_nombre"
    
    [radius]="90"
    [outerStrokeWidth]="6"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'rgb(28, 70, 110)'"
    [innerStrokeColor]="'#4682B4'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
 
</div>
</span>
<!--
  <div class="col-sm-4 col-md-3 col-lg-3">
    <circle-progress 
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
      <circle-progress 
        [percent]="85"
        [radius]="75"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
        <circle-progress 
          [percent]="85"
          [radius]="75"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="4"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
    <circle-progress 
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
    <circle-progress 
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
    <circle-progress 
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-3 col-lg-3">
    <circle-progress 
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
  </div>
-->

</div>

