/* You can add global styles to this file, and also import other style files */
#info-img {
    display: flex;
}

.btn-right {
    display: flex;
    align-self: flex-end;
}

.fa-button, .fa {
    color: black;
    display: block;
    height: 2.4rem;
    width: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    background: white;
}

.fa-button:hover, .fa:hover {
    background: grey;
}

/*div#profile-background {
    display: flex;
    z-index: 1;
} */